body {
  margin: 0%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial,
    Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-image: url('https://img.wallpapersafari.com/desktop/728/410/1/27/zqSfw7.jpg');
  /* background-image: url('https://us.123rf.com/450wm/natthanim/natthanim1707/natthanim170700031/83144515-dark-grey-black-slate-texture-in-natural-patterns-with-high-resolution-for-background-and-design-art.jpg?ver=6'); */
  background-size: cover;
  margin-bottom: 5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  /* background-color: azure; */
  display: flex;
  flex-direction: row;

  padding-top: 1%;
  padding-left: 3%;
  color: aliceblue;
  position: sticky;
}

.nav {
  /* background-color: blueviolet; */
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  /* background-color: #d27f62; */
  padding-top: 1%;
  width: 25%;
  /* display: fixed; */
  margin-left: 1%;
}

.navTo {
  width: 25%;
  padding-left: 3.5%;
}

.linkit {
  text-decoration: none;
  color: aliceblue;
}

.linkit:hover {
  text-decoration: underline;
  /* color: #d27f62; */
  text-underline-offset: 3px;
}

.logo img {
  width: 60px;
  height: 60px;
}
.main {
  display: flex;
  flex-direction: column;
}

.cover_div {
  color: aliceblue;
  /* background: green; */
  display: flex;
  flex-direction: row;
  border: solid 1px aliceblue;
  border-radius: 10px;
  margin: 8%;
  margin-top: 6%;
  margin-bottom: 3%;
  width: 85%;
}

.intro {
  width: 50%;
  /* background-color: aquamarine; */
  padding-top: 15em;
  padding-left: 4em;
}

.name_heading {
  font-family: sans-serif;
  font-weight: 800;
  font-size: 38px;
  align-items: center;
  display: flex;
  flex-direction: row;
  /* background-color: azure; */
}

.pic {
  width: 50%;
  /* background-color: beige; */
  margin-top: -5%;
  margin-left: -5%;
}
.salHead {
  margin-right: 10px;
}

.picSpec {
  width: 38rem;
  height: 38rem;
}

.footer {
  /* background-color: beige;*/
  width: 2%;
  padding-top: 27rem;
  /* padding-bottom: 14rem; */
  margin-left: 0.5%;
  height: 16vh;
  position: fixed;
  align-content: space-between;
}

.social_bg {
  /* background-color: aquamarine; */
  width: 100%;
  height: 25%;
  padding-top: 10%;
  padding-left: 15%;
  align-content: center;
  padding-top: 10px;
}

.social_bg button {
  background-color: transparent;
  border-radius: 50%;
  border-width: 0;
}

.social_bg img {
  width: 20px;
  height: 20px;
  margin-top: 4px;
  margin-bottom: 2px;
}

.social_bg button:hover {
  background-color: #3d454a;
  border-radius: 50%;
  border-width: 0;
  /* opacity: 70%; */
}

.about {
  color: aliceblue;
  /* background-color: aqua; */
  text-align: left;
  width: 85%;
  margin-left: 8%;
  margin-top: 2%;
  height: 100%;
  /* overflow-x: hidden; */
}

.section_heads {
  font-weight: 800;
  font-size: 40px;
  color: #d27f62;
  margin-top: 2%;
  margin-left: 2%;
  font-family: cursive;
}

.section_heads_page {
  font-weight: 600;
  font-size: 40px;
  color: #d27f62;
  margin-top: 2%;
  margin-left: 2%;
  font-family: cursive;
}

.myDescription {
  display: flex;
  flex-direction: row;
  margin-left: 2%;
  margin-top: 2%;
  height: max-content;
  padding-right: 2px;
  overflow-y: hidden;
  padding-bottom: 10vh;
  /* margin-bottom: 100px; */
  /* background-color: #d27f62; */
}

.myDescriptionAbout {
  display: flex;
  flex-direction: row;
  margin-left: 2%;
  margin-top: 2%;
  padding-right: 2px;
}

.myDescriptionNot {
  display: flex;
  flex-direction: row;
  margin-left: 2%;
  margin-top: 2%;
  padding-right: 2px;
}

.quote {
  margin-left: 4%;
}

.quoteNot {
  /* margin-left: 4%; */
  margin-top: 15%;
}
.quote img {
  width: 400px;
  height: 400px;
  margin-top: -25%;
  margin-left: 1%;
}

.quoteNot img {
  width: 400px;
  height: 400px;
  margin-top: -25%;
  margin-left: 1%;
}

.descriptionPara {
  width: 52%;
  /* margin-top: 2%; */
  /* background-color: beige; */
  /* margin-left: 2%; */
  text-align: justify;
  text-justify: inter-word;
  line-height: 25px;
}

.aboutSocial {
  display: flex;
  flex-direction: row;
  /* margin-top: -10px; */
}

.aboutSocial_bg {
  /* background-color: aquamarine; */
  /* width: 100%;
  height: 25%; */
  /* padding-top: 1%; */
  padding-left: 1%;
  align-content: center;
}

.aboutSocial_bg button {
  background-color: transparent;
  border-radius: 50%;
  border-width: 0;
}

.aboutSocial_bg img {
  width: 28px;
  height: 28px;
  margin-top: 4px;
  margin-bottom: 2px;
}

.aboutSocial_bg button:hover {
  background-color: #3d454a;
  border-radius: 50%;
  border-width: 0;
  /* opacity: 70%; */
}

.skillicon img {
  width: 40px;
  height: 40px;
}

.skill {
  width: 30%;
  background-color: #191c1e;
  margin-left: 1%;
  padding-left: 0.5%;
  padding-top: 0.5%;
  display: flex;
  flex-direction: row;
  border-radius: 0.4em;
}

.skilldescription {
  /* background-color: #d27f62; */
  margin-left: 10px;
  width: 85%;
  margin-bottom: 2.5%;
  /* margin-top: 40px; */
}

.skillHead {
  font-size: 1.3em;
  margin-left: 1%;
  margin-top: 1%;
}

.link {
  text-decoration: none;
  color: aliceblue;
  margin-top: -10px;
}

.skillbutton {
  background-color: transparent;
  border-width: 0;
  margin-top: 5px;
  padding-top: 4px;
  border-radius: 3px;
}

.skillbutton img {
  width: 20px;
  height: 20px;
}

.skillbutton strong {
  margin-top: -5px;
}

.skillbutton:hover {
  background-color: #3d454a;
}

.skillExplain p {
  text-align: justify;
  /* display: grid;
  grid-template-colum; */
}

.content {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 30% 36%;
  /* background-color: green; */
}

/* .aboutSocial { */
/* background-color: blue; */
/* margin-left: 10px; */
/* } */

.skillDisplay {
  margin-left: 2%;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  /* grid-template-columns: repeat(10, 1fr); */
}

.skilled img {
  width: 50px;
  height: 50px;
}

.footerPage {
  display: flex;
  flex-direction: row;
}

.footerPage button {
  width: 150%;
  margin-left: 15%;
  margin-right: 10%;
  /* margin-top: 25px; */
  height: 40px;
  background-color: mediumslateblue;
  border-width: 0px;
  border-radius: 5px;
  color: whitesmoke;
}

.footerPage button:hover {
  background-color: midnightblue;
}

.paginationDiv {
  margin-left: 30%;
  width: 70%;
}

#input {
  width: 30%;
}

.artImage img {
  width: 110%;
  height: 30%;
  margin-top: 2%;
  /* margin-right: 2%; */
  border-radius: 5px;
}

.listItem {
  display: grid;
  width: 100%;
  grid-template-columns: 31% 31% 31%;
  /* background-color: greenyellow; */
  margin-left: 10px;
  /* margin-top: 20px; */
  row-gap: 0.8%;
  column-gap: 0.8%;

  /* overflow-y: hidden; */
  /* margin-bottom: 100px; */
}

.oneItem {
  /* width: 50%; */
  background-color: #191c1e;
  margin-left: 1%;
  /* padding-left: 0.5%; */
  padding-top: 0.5%;
  display: flex;
  flex-direction: row;
  border-radius: 0.4em;
  margin-left: 2%;
  height: 100%;
  /* margin-top: 20px; */
  margin-top: 2%;
}

.oneItem:hover {
  border: #201f1f 0.1px solid;
}
.techDiv {
  /* background-color: aqua; */
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  column-gap: 0.1rem;
  margin-bottom: 6%;
}

.tech {
  width: 94%;
  /* background-color: antiquewhite; */
}
.techbutton {
  width: 100%;
  border-width: 0;
  background-color: #f8e0cc;
  border-radius: 4px;
  color: #58321f;
  font-weight: 550;
  padding: 2px;
  /* #d27f62; */
}
/* 
.techDiv button {
  margin-left: 1.5%;
} */

.buttondiv {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.downloadlink a {
  text-decoration: none;
  color: aliceblue;
  font-size: 17px;
  font-weight: 600;
}
.buttondownload {
  margin-top: 10px;
  /*  */
  border-radius: 10px;
  height: 35px;
  width: 200px;
  padding-left: 2%;
  border: 0.5px solid aliceblue;
  padding: 1%;
  margin-left: 5px;

  /* padding-top: 1%; */
}

.buttondownload:hover {
  background-color: #58321f;
  /* #da967b; */
  /* border-width: 0; */
}

.buttonImg {
  /* background-color: #58321f; */
  height: 100%;
  padding-top: 1%;
}

.buttontext {
  margin-left: 10px;
  margin-top: 3px;
}

.internalHeader {
  display: flex;
  flex-direction: row;
  /* background-color: aqua; */
  height: 40px;
  width: 50%;
}

.internalHeaderButton button {
  width: 100px;
  height: 100%;

  background-color: transparent;
  /* background-color: #d27f62; */
  border-width: 1px;
  border-color: aliceblue;
  color: aliceblue;
}

.internalHeaderButton button:hover {
  width: 100px;
  height: 100%;

  /* background-color: transparent; */
  background-color: #d27f62;
  border-width: 1px;
  border-color: aliceblue;
  color: aliceblue;
}

.internalHeaderButton {
  margin-left: 3%;
}
@media only screen and (max-width: 550px) {
  html body {
    /* background-color: #d27f62; */
    margin: 0px;
    margin-bottom: 20%;

    max-width: 100%;
    overflow-x: hidden;
  }

  .myDescription {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-top: 2%;
    padding-bottom: 50vh;
  }
  .name_heading {
    font-family: sans-serif;
    font-weight: 800;
    font-size: 1.73em;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    /* font-family: Arial, Helvetica, sans-serif; */
  }
  .header {
    margin-top: 2vh;
  }
  .nav {
    width: 80%;
  }
  .cover_div {
    overflow-x: hidden;
    /* width: 100%; */
  }
  .about {
    overflow-x: hidden;
    /* width: 100%; */
  }
  .navTo {
    margin-top: 2vh;
  }
  .descriptionPara {
    width: 100%;
    text-align: justify;
    text-justify: inter-word;
    line-height: 25px;
  }
  .myDescriptionAbout {
    display: flex;
    flex-direction: column;
  }
  .myDescriptionNot {
    display: flex;
    flex-direction: column;
  }

  .quote {
    margin-left: -6%;
    align-self: center;
  }
  .quoteNot {
    margin-left: -6%;
    align-self: center;
  }
  .intro {
    width: 100%;
    padding-top: 10em;
    margin-left: -61%;
  }

  .picSpec {
    width: 28rem;
    height: 28rem;
  }

  .salHead {
    /* margin-right: -1000px; */
    height: 70px;
  }

  .typewriter {
    height: 70px;
    margin-top: 2px;
  }
  .quote img {
    width: 250px;
    height: 250px;
    margin-top: 0%;
    margin-left: 1%;
  }

  .skillDisplay {
    grid-template-columns: repeat(5, 1fr);
  }
  .skill {
    width: 97%;
    margin-top: 3%;
    padding-top: 2%;
    padding-left: 2%;
  }
  .footer {
    width: 100%;
    display: grid;
    /* flex-direction: row; */
    background-color: #383a3d;
    /* #4f5256; */
    /* #606368; */
    /* #202124; */
    height: 10px;
    margin-top: 80vh;
    margin-bottom: 15vh;
    padding-bottom: 140px;
    /* grid-template-columns: 25% 25% 25% 25%; */
    grid-template-columns: repeat(5, 1fr);
    padding-top: 10px;
  }

  .listItem {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    /* background-color: greenyellow; */
    margin-left: -10px;
  }
}

.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
